name: Local Deploy to K8s

on:
  push:
    branches:
      - main

jobs:
  deploy:
    # YE SABSE ZARURI HAI: Isse GitHub ko pata chalega ki VPS wale runner par chalana hai
    runs-on: self-hosted 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Apply K8s configuration
        run: |
          # Kyunki hum ab VPS ke andar hi hain, humein na SSH chahiye na SCP
          # Seedha kubectl apply chalao
          sudo kubectl apply -f website.yaml